/* Variables used throughout will go here. */
/* EFA Color pallete */
/****************************
Body Section
****************************/
body {
  padding: 0; }

header {
  text-align: center; }

.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase; }

/* ------------------------------
Navbar Section
--------------------------------*/
* {
  margin: 0;
  padding: 0; }

.bars {
  /*   background-color:pink; */
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
  padding-top: 9px; }

.bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  position: absolute; }

.bar::before,
.bar::after {
  content: "";
  display: block;
  background-color: #333;
  width: 100%;
  height: 4px;
  position: absolute; }

.bar::before {
  transform: translateY(-9px); }

.bar::after {
  transform: translateY(9px); }

.bars.active .bar {
  background-color: transparent; }

.bars.active span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards; }

.bars.active span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards; }

/* Navbar Links CSS */
#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0; }

#nav a {
  color: #333;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 50vw;
  border-radius: 50%;
  transition: all .5s;
  font-size: 18px; }

#nav a:hover {
  background: rgba(255, 255, 255, 0.8); }

ul {
  list-style: none; }

.visible {
  z-index: 100 !important;
  opacity: 1 !important; }

.shape-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  transition: all 1s ease-in-out;
  background: cyan;
  box-shadow: 0 0px 0px rgba(88, 88, 88, 0.877); }

nav.visible li:first-child {
  width: 200vw;
  height: 200vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 80px rgba(88, 88, 88, 0.877); }

nav.visible li:nth-child(2) {
  width: 150vw;
  height: 150vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 80px rgba(88, 88, 88, 0.877); }

nav.visible li:nth-child(3) {
  width: 100vw;
  height: 100vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 80px rgba(88, 88, 88, 0.877); }

nav.visible li:last-child {
  width: 50vw;
  height: 50vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 80px rgba(88, 88, 88, 0.877); }

nav.visible li:first-child a {
  line-height: 265vw !important;
  text-indent: 15vw !important; }

nav.visible li:nth-child(2) a {
  line-height: 200vw !important;
  text-indent: 17vw !important; }

nav.visible li:nth-child(3) a {
  line-height: 137vw !important;
  text-indent: 17vw !important; }

nav.visible li:last-child a {
  line-height: 70vw !important;
  text-indent: 12vw !important; }

/* Main Body CSS */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

article a {
  color: #fff;
  text-decoration: none;
  opacity: .2;
  font-size: 12px; }

article a:hover {
  opacity: .8; }

@keyframes top-bar {
  50% {
    transform: translateY(0); }
  100% {
    transform: rotate(45deg) translateY(0); } }

@keyframes bottom-bar {
  50% {
    transform: translateY(0); }
  100% {
    transform: rotate(-45deg) translateY(0); } }

@media screen and (max-width: 800px) {
  a {
    padding-top: 50px;
    font-size: 10px; } }

@media screen and (max-width: 800px) {
  #noshow {
    display: none; } }

.jumbotron.jumbotron-main {
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #333;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  margin: 0; }

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #333; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: #333; }

canvas {
  display: inline-block;
  vertical-align: baseline; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

h1 {
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 5.5em;
  margin-bottom: 0;
  margin-left: 0em;
  font-family: 'IBM Plex Sans Condensed', sans-serif; }

.jumbotron p {
  margin-bottom: 440px;
  font-size: 23px;
  font-weight: 200;
  margin-left: 0em;
  margin-top: .5em; }

#nokey {
  box-sizing: border-box;
  height: 75%;
  margin: 0;
  padding: 0em;
  background-color: whitesmoke;
  overflow: hidden;
  z-index: -1; }

hr {
  border-color: #333; }

/* For devices which are smaller than 960 pixels */
/* For Tablets */
/* For all mobiles */
/* Mobile Landscape Size to Tablet Portrait  */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* ------------------------------
Portfolio Section
--------------------------------*/
#portfolio {
  background: #333;
  background: linear-gradient(110deg, #333, grey);
  padding: 50px;
  color: whitesmoke;
  text-align: center; }

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 1em; }

.section-title {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin-left: -0.3em;
  font-size: 40px; }

#portfolio .portfolio-item .details {
  height: 260px;
  background: #333;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.8s;
  text-align: center; }

#portfolio .portfolio-item .details h4 {
  font-size: 30px;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: whitesmoke; }

#portfolio .portfolio-item:hover .details {
  opacity: 0.8; }

.mfp-title {
  text-align: center;
  padding: 5px 5px; }

#myCarousel {
  object-fit: cover;
  margin-left: 20em;
  margin-right: 20em; }

.sub-header {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin-right: 0em;
  font-size: 35px; }

/* For devices which are smaller than 960 pixels */
@media only screen and (max-width: 959px) {
  #myCarousel {
    margin: auto; } }

/* For Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #myCarousel {
    margin: auto; } }

/* For all mobiles */
@media only screen and (max-width: 767px) {
  #myCarousel {
    margin: auto; } }

/* Mobile Landscape Size to Tablet Portrait  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #myCarousel {
    margin: auto; } }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #myCarousel {
    margin: auto; } }

/****************************
About Section
****************************/
#about {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  background-color: whitesmoke;
  padding: 50px; }

.about-panel {
  visibility: visible;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.image {
  height: 34em;
  width: 25em;
  margin-bottom: 5.5em;
  margin-left: -8em;
  border: 5px solid black;
  padding: 3px; }

.section-title {
  text-align: center; }

.lead {
  font-family: 'IBM Plex Sans Condensed', sans-serif; }

h4 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 25px; }

.progress {
  font-family: 'IBM Plex Sans Condensed', sans-serif; }

p, .lead {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 19.3px; }

.devlogohtml {
  height: 60px;
  width: 60px;
  margin-left: 3em; }

.devlogocss {
  height: 60px;
  width: 60px;
  margin-left: 3em; }

.devlogojs {
  height: 53px;
  width: 53px;
  margin-left: 3em; }

.devlogonode {
  height: 55px;
  width: 55px;
  margin-left: 3em; }

.devlogopost {
  height: 55px;
  width: 55px;
  margin-left: 3em; }

.devlogops {
  height: 55px;
  width: 55px;
  margin-left: 3em; }

.devlogoreact {
  height: 53px;
  width: 53px;
  margin-left: 3em; }

.devlogogit {
  height: 55px;
  width: 55px;
  margin-left: 3em; }

/* For devices which are smaller than 960 pixels */
@media only screen and (max-width: 959px) {
  .picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%; } }

/* For Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%; } }

/* For all mobiles */
@media only screen and (max-width: 767px) {
  .picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%; } }

/* Mobile Landscape Size to Tablet Portrait  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%; } }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%; } }

/* For devices which are smaller than 960 pixels */
@media only screen and (max-width: 959px) {
  .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
    margin-left: -1em; } }

/* For Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
    margin-left: -1em; } }

/* For all mobiles */
@media only screen and (max-width: 767px) {
  .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
    margin-left: -1em; } }

/* Mobile Landscape Size to Tablet Portrait  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
    margin-left: 2em; } }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
    margin-left: -1em; } }

.col-md-3 {
  margin-top: 2.2em; }

.form-group {
  margin-top: 2em; }

#contact {
  margin: 0px;
  background-color: #333;
  background: linear-gradient(110deg, #333, grey);
  color: whitesmoke; }

#success {
  color: #333; }

/* CSS code for the Footer section. */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 18px;
  text-align: center;
  color: #333; }

footer p {
  margin-bottom: .25rem; }
