
/****************************
About Section
****************************/
#about {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    background-color: whitesmoke;
    padding: 50px;
}

.about-panel {
    visibility: visible; 
    -webkit-animation-delay: 0.1s; 
    -moz-animation-delay: 0.1s; 
    animation-delay: 0.1s;
}

.image {
    height: 34em;
    width: 25em;
    margin-bottom: 5.5em;
    margin-left: -8em;
    border: 5px solid black;
    padding: 3px;   
}

.section-title {
    text-align: center;
}

.lead {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h4 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 25px;
}

.progress {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

p, .lead {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 19.3px;
}

.devlogohtml {
    height: 60px;
    width: 60px;
    margin-left: 3em;
}

.devlogocss {
    height: 60px;
    width: 60px;
    margin-left: 3em;
}

.devlogojs {
    height: 53px;
    width: 53px;
    margin-left: 3em;
}

.devlogonode {
    height: 55px;
    width: 55px;
    margin-left: 3em;
}

.devlogopost {
    height: 55px;
    width: 55px;
    margin-left: 3em;
}

.devlogops {
    height: 55px;
    width: 55px;
    margin-left: 3em;
}

.devlogoreact {
    height: 53px;
    width: 53px;
    margin-left: 3em;
}

.devlogogit {
    height: 55px;
    width: 55px;
    margin-left: 3em;
}

/* For devices which are smaller than 960 pixels */
@media only screen and (max-width: 959px) {
    .picture, {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }
 }
 
 /* For Tablets */
 @media only screen and (min-width: 768px) and (max-width: 959px) {
    .picture, {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }
 }
 
 /* For all mobiles */
 @media only screen and (max-width: 767px) {
    .picture, {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }
 }
 
 /* Mobile Landscape Size to Tablet Portrait  */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
    .picture, {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }
 }
 
 /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
 @media only screen and (max-width: 479px) {
    .picture, {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }
 }


/* For devices which are smaller than 960 pixels */
@media only screen and (max-width: 959px) {
    .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
        margin-left: -1em;
    }
 }
 
 /* For Tablets */
 @media only screen and (min-width: 768px) and (max-width: 959px) {
    .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
        margin-left: -1em;
    }
 }
 
 /* For all mobiles */
 @media only screen and (max-width: 767px) {
    .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
        margin-left: -1em;
    }
 }
 
 /* Mobile Landscape Size to Tablet Portrait  */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
    .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
        margin-left: -1em;
    }
 }
 
 /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
 @media only screen and (max-width: 479px) {
    .devlogocss, .devlogogit, .devlogohtml, .devlogojs, .devlogonode, .devlogopost, .devlogops, .devlogoreact {
        margin-left: -1em;
    }
 }
