
.col-md-3 {
    margin-top: 2.2em;
}

.form-group {
    margin-top: 2em;
}

#contact {
    margin: 0px;
    background-color: #333;
    background: linear-gradient(110deg, #333, grey);
    color: whitesmoke;
}

#success {
    color: #333;
}
  