/* CSS code for the Footer section. */


footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    // background-color: whitesmoke;
    font-size: 18px;
    text-align: center;
    color: #333;
}
  
footer p {
    margin-bottom: .25rem;
}